.positionn{
    /* top: 50%; */
    left: 40%;
    bottom: 40%;
    /* right: 40%; */

}
    .btn{
        background: #274C5B !important;
    }

.bggg{
    background-color:#F9F8F8;
}

.bg11{
    background: #ECECEC;
}