.bg{
    background: #274C5B;
}

.btn{
    background: #EFD372 !important;
    padding: 2px 39px !important;
}

.bgg{
    background: #274C5B;
}

.fontCol{
    color: #274C5B;
}

.textCol{
   color: #B8B8B8;
}

.widthhh{
    width: 230px !important;
    height: 230px !important;
}
